gymnasium==0.28.1
numpy==1.23.5
pygame>=2.5.0
mujoco==2.3.3
gymnasium-robotics==1.2.2
xmltodict
pyyaml
stable-baselines3==2.1.0
rich
torch>=2.0.0
matplotlib>=3.7.0
tensorboard>=2.13.0
imageio>=2.31.0
imageio-ffmpeg>=0.4.8
tqdm>=4.65.0
pandas>=2.0.0
